@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: DM Sans, Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* form */

.cl-formFieldHintText{
    font-size: 12px;
    font-family: DM Sans;
    color: #959ba8;
}

.cl-headerTitle {
    font-size: 25px;
    font-family: Satoshi Bold;
    font-weight: 600;
}

.cl-headerSubtitle{
    font-size: 15px;
    font-family: DM Sans;
    font-weight: 350;
}

.cl-socialButtonsProviderIcon{
    width: 18px;
    height: 18px;
}

.cl-dividerText{
    font-size: 15px;
    font-family: DM Sans;
    font-weight: 350;
}

.cl-formButtonPrimary {
    font-size: 15px;
    text-transform: none;
    border: none;
}

.cl-formFieldLabel{
    font-size: 15px;
    font-family: Satoshi Medium;
    font-weight: 500;
}

.cl-formFieldInput{
    font-size: 14px;
    font-family: DM Sans;
    font-weight: 400;
}

/* user */

.cl-userButtonBox{
    width: 45px;
    height: 45px;
}

.cl-userButtonAvatarBox{
    width: 45px;
    height: 45px;
}

.cl-userPreviewMainIdentifier{
    font-size: 15px;
    font-family: Satoshi Bold;
    font-weight: 600;
}

.cl-userButtonPopoverActionButtonIconBox{
    font-family: DM Sans;
    font-weight: 400;
}

.cl-profileSectionTitleText{
    font-family: Satoshi Bold;
    font-size: 15px;
    font-weight: 600;
}

.cl-navbarButtonText{
    font-family: DM Sans;
    font-weight: 500;
    font-size: 13px;
}

/* ---------------------------- satoshi fonts ---------------------------- */

@font-face {
  font-family: 'Satoshi';
  src: url('/static/fonts/Satoshi/Satoshi-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi Bold';
  src: url('/static/fonts/Satoshi/Satoshi-Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi Italic';
  src: url('/static/fonts/Satoshi/Satoshi-Italic.otf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi Medium';
  src: url('/static/fonts/Satoshi/Satoshi-Medium.otf') format('truetype');
  font-weight: medium;
  font-style: normal;
}

@font-face {
    font-family: 'Satoshi Black';
    src: url('/static/fonts/Satoshi/Satoshi-Black.otf') format('truetype');
    font-style: normal;
}

/* ---------------------------- dm sans fonts ---------------------------- */

@font-face {
  font-family: 'DM Sans';
  src: url('/static/fonts/DM_Sans/DMSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans Bold';
  src: url('/static/fonts/DM_Sans/DMSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans Italic';
  src: url('/static/fonts/DM_Sans/DMSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DM Sans SemiBold';
  src: url('/static/fonts/DM_Sans/DMSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans Medium';
  src: url('/static/fonts/DM_Sans/DMSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'DM Sans Black';
    src: url('/static/fonts/DM_Sans/DMSans-Black.ttf') format('truetype');
}

/* ---------------------------- pally font ---------------------------- */
@font-face{
    font-family: 'Pally';
    src: url('/static/fonts/Pally/Pally-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Pally Bold';
    src: url('/static/fonts/Pally/Pally-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: 'Pally Medium';
    src: url('/static/fonts/Pally/Pally-Medium.otf') format('truetype');
    font-weight: normal;
}

/* ---------------------------- janitor font ---------------------------- */
@font-face {
  font-family: 'Janitor';
  src: url('/static/fonts/Janitor/Janitor.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}